<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h3>Inserte una nueva persona!</h3>
          <div>
            <div class="form-group">
              <input type="text" placeholder="nombre" [(ngModel)]="selectedPerson.nombre" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" placeholder="apellido" [(ngModel)]="selectedPerson.apellido" class="form-control">
            </div>
            <div class="form-group">
              <select name="select" class="form-control" [(ngModel)]="selectedPerson.sexo">
                <option disabled selected>Selecciona tu sexo</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
              </select>
              <!--                <input type="text" placeholder="sexo" [(ngModel)]="selectedPerson.sexo" class="form-control">-->
            </div>
            <div class="form-group">
              <input type="number" placeholder="edad" [(ngModel)]="selectedPerson.edad" class="form-control">
            </div>
            <button (click)="addOrEdit()" class="btn btn-block btn-success" *ngIf="!selectedPerson.id">Ingresar</button>
            <button (click)="addOrEdit()" class="btn btn-block btn-success" *ngIf="selectedPerson.id > 0">Actualizar</button>
            <button (click)="delete()" class="btn btn-block btn-danger" *ngIf="selectedPerson.id > 0">Borrar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <button (click)="status=!status" class="btn btn-block btn-secondary" *ngIf="!status">Mostrar lista</button>
      <button (click)="status=!status" class="btn btn-block btn-secondary" *ngIf="status">Ocultar lista</button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" *ngIf="status">
      <div class="card-title mt-2 text-center">
        <h3>Lista</h3>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li (click)="openData(persona)" *ngFor="let persona of data"
              class="list-group-item list-group-item-action" [class.active]="persona == selectedPerson">
            <label>{{persona.nombre}}</label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
